@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* https://css-tricks.com/box-sizing/ universal with inheritance */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	background-color: var(--c-bg2);
	transition: background-color 200ms ease-in-out;
}

/* fonts */
.roboto-society-maintenance {
	font-family: 'Roboto', sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

/* globals */
:is(h1, h2, h3, h4, h5, h6) {
	margin-top: 0;
	margin-bottom: 0;
	/* line-height: 1; */
}

:is(p) {
	margin-top: 0;
	margin-bottom: var(--s);
}

:is(h1) {
	font-size: var(--fs--h1);
}
:is(h2) {
	font-size: var(--fs--h2);
}
:is(h3) {
	font-size: var(--fs--h3);
}
:is(h4) {
	font-size: var(--fs--h4);
}
:is(h5) {
	font-size: var(--fs--h5);
}

:is(pre) {
	white-space: pre-wrap;
}
:is(details) {
	border: 1px solid var(--c-bg2);
	border-radius: var(--border-radius);
	transition: border-color 200ms ease-in-out;
	:is(summary) {
		padding: var(--s);
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: var(--s);
		border: 1px solid var(--c-transparent);
		background-color: transparent;
		transition:
			background-color 200ms ease-in-out,
			border-color-color 200ms ease-in-out;
		&::before {
			/* content: '→'; */
			color: var(--c-border);
			content: '';
			display: list-item;
			list-style: disclosure-closed;
			transition: color 200ms ease-in-out;
		}
		&:hover {
			background-color: var(--c-bg2);
			&::before {
				color: var(--c-fg);
			}
		}
	}
	&:is([open]) {
		/* padding: calc(var(--s) / 3); */
		/* border-color: var(--c-border); */
		> summary::before {
			/* content: '↓'; */
			list-style: disclosure-open;
			color: var(--c-fg);
		}
		> summary {
			background-color: var(--c-bg2);
			border-radius: var(--border-radius);
			border-bottom-color: var(--c-border);
			&:hover {
				background-color: var(--c-bg);
			}
		}
	}
}

:is(input, textarea, select, button, .Button) {
	padding: var(--s);
	font-size: 1rem;
	background-color: transparent;
	border-radius: var(--border-radius);
	border: 1px solid var(--c-border);
	outline: 0.1rem solid transparent;
	transition: all 200ms ease-in-out;
	&:focus {
		border-color: var(--c-fg);
		outline-color: var(--c-fg);
	}
	&:invalid {
		border-color: var(--c-error);
	}
	&:empty {
		border-color: var(--c-border);
	}
	&:hover {
		border-color: var(--c-bg);
	}
	&:is([readonly], [disabled]) {
		border-color: transparent;
		/* color: var(--c-fg2); */
	}
	&:is([readonly], [disabled]):focus,
	&:is([readonly], [disabled]):hover {
		outline-color: transparent;
		border-color: initial;
		/* color: var(--c-fg2); */
	}
	&::placeholder {
		font-style: italic;
		color: var(--c-fg2);
	}
}
:is(input:not([type='checkbox']), textarea) {
	width: 100%;
}
:is(input[type='checkbox']) {
	min-height: calc(var(--s) * 3);
	:is(fieldset:has(&)) {
		align-items: baseline;
	}
}
:is(textarea) {
	min-height: calc(var(--s) * 5);
	resize: vertical;
}

:is(button, .Button, .Nav a) {
	border-color: var(--c-border);
	cursor: pointer;
	transition: all 140ms ease-in-out;
	padding: var(--s) calc(var(--s) * 1.5);
	font-weight: bold;
	&:hover {
		/* background-color: var(--c-bg); */
		text-decoration-color: transparent;
		border-color: var(--c-link);
	}
	&:focus,
	&:active {
		font-weight: bold;
	}
	&[type='submit'] {
		/* outline: 1px solid var(--c-link); */
	}
	&:has(svg) {
		padding: calc(var(--s) / 2) calc(var(--s) / 1);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: calc(var(--s) / 2);
	}
}
:is(a.Button) {
	/* border-color: var(--c-link); */
	text-decoration-color: transparent;
	&:hover {
		text-decoration-color: var(--c-link);
	}
}

:is(a) {
	color: var(--c-link);
	font-weight: bold;
	border-radius: calc(var(--s) * 1.5);
	display: inline-block;
	line-height: 1; /* for :focus styles centered */
	padding: calc(var(--s) / 2.5) calc(var(--s) / 1.7);
	text-decoration-color: var(--c-transparent);
	transition: text-decoration-color 200ms ease-in-out;

	transition: all 140ms ease-in-out;
	&:focus {
		text-decoration-color: var(--c-border);
	}
	&:hover {
		text-decoration-color: var(--c-link);
	}
	&:active {
		text-decoration-color: transparent;
		font-weight: normal;
	}
	&[aria-current='page'] {
		/* background-color: var(--c-bg--menu); */
		/* border-bottom-color: var(--c-link); */
		/* color: var(--c-link); */
		text-decoration: none;
	}
}
:is(fieldset) {
	border: 1px solid var(--c-border);
	display: flex;
	flex-direction: column;
	padding: var(--s);
	border-color: transparent;
}
:is(fieldset[data-type='error']) {
	text-decoration: underline;
	text-decoration-color: var(--c-error);
	margin: var(--s);
}
:is(form) {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid var(--c-border);
	background-color: var(--c-bg--form);
	border-radius: var(--border-radius);
	padding: calc(var(--s) * 1.5) calc(var(--s) * 0.5);
	/* max-width: var(--s-form); */
	:is(section, footer, main, aside) {
		width: 100%;
	}
	:is(label) {
		color: var(--c-fg2);
		font-size: var(--font-size--small);
		font-style: italic;
		padding: calc(var(--s) / 2);
	}
	:is(legend) {
		margin-bottom: -0.3em;
		transition: font-weight 200ms ease-in-out;
		&:not([required]) {
			color: var(--c-fg2);
		}
	}
	:is(button[type='submit']) {
		border-color: var(--c-bg2);
	}
}
:is(form fieldset) {
	width: 100%;
	&:last-of-type {
		margin-bottom: 0;
		padding-bottom: 0;
		:is(menu) {
			list-style: none;
			display: flex;
			align-self: flex-end;
			align-items: center;
			gap: var(--s);
		}
	}
	:is(&:has(input:focus, input:active)),
	:is(&:has(select:focus, select:active)),
	:is(&:has(textarea:focus, textarea:active)) {
		:is(legend) {
			font-weight: bold;
			color: var(--c-link);
		}
	}
	:is(&:has([required])) {
		:is(legend) {
			color: var(--c-fg);
			&::after {
				content: '*';
				padding-left: calc(var(--s) / 2);
			}
		}
	}
}

/* layout */
:is(section) {
	padding: var(--s);
	& + section {
		margin-top: var(--s);
	}
}
:is(section, aside, main) {
	& > header {
		&:has(nav:not(.Nav), menu) {
			display: flex;
			list-style: none;
			justify-content: flex-end;
			align-items: center;
			flex-wrap: wrap;
			&:has(h1, h2) {
				justify-content: space-between;
			}
		}
		menu,
		ul {
			align-self: flex-end;
			align-items: center;
			list-style: none;
			padding: 0;
			margin: 0;
		}
		h1,
		h2,
		h3 {
			margin: var(--s) 0;
		}
	}
}

:is(nav) {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		gap: calc(var(--s) / 2);
		flex-wrap: wrap;
	}
}

:is(progress) {
	max-height: calc(var(--s) / 1);
	height: 100%;
	&[value] {
		border: 1px solid var(--c-border);
		border-radius: var(--border-radius);
		background-color: transparent;
		&::-moz-progress-bar {
			background-color: var(--c-link);
		}
		&::-webkit-progress-value {
			background-color: var(--c-link);
		}
	}
}
