@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* global variables */
:root {
	--s: 0.5rem;
	--s-container: 55rem;
	--s-form: 50rem;
	--s-page: 85rem;
	--font-size: 16px;
	--font-size--reset: 1rem;
	--font-size--small: 0.9em;
	--line-height: 1.6;
	--border-radius: var(--s);
}
@media (prefers-color-scheme: light) {
	:root,
	:host {
		color-scheme: light;
		--c-fg: #171623;
		--c-fg--secondary: #545454;
		--c-bg: #e5e4e4;
		--c-bg--secondary: #fafafa;
		--c-bg--form: #d3d3d3;
		--c-link: green;
		--c-border: #a2a2a2;
		--c-error: #d06100;
	}
}
@media (prefers-color-scheme: dark) {
	:root,
	:host {
		color-scheme: dark;
		--c-fg: #e9eaf2;
		--c-fg--secondary: #838383;
		--c-bg: #252525;
		--c-bg--secondary: #1d1b1b;
		--c-bg--form: #303030;
		--c-link: #11b311;
		--c-border: #646060;
		--c-error: #d06100;
	}
}

/* https://css-tricks.com/box-sizing/ universal with inheritance */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* fonts */
.roboto-society-maintenance {
	font-family: 'Roboto', sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}
